Package: hithere
Version: 1.0-1
Architecture: amd64
Maintainer: Lucas Z. <lucas_z@debian.org>
Installed-Size: 27
Depends: libc6 (>= 2.34)
Section: misc
Priority: optional
Description: greet user
 hithere greets the user, or the world.
